<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="Access-Control-Allow-Origin" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="remote api" stopProcessing="true">
                    <match url="^2\.0/remote" />
                    <action type="Rewrite" url="/api10/remote.php" />
                </rule>
                                
                <rule name="map /api/* to https://api.keyman.com/cloud/*" stopProcessing="true">
                    <match url="^(.+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://api.keyman.com/cloud/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
