<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="map /kbd/* to https://api.keyman.com/script/cjk/*" stopProcessing="true">
                    <match url="^(.+)$" />
                    <action type="Rewrite" url="https://api.keyman.com/script/cjk/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
