<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="get-version" stopProcessing="true">
                    <match url="^get-version(\/([^/]+)(\/([^/]+))?)?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://api.keyman.com/script/version/version.php?platform={R:2}&amp;level={R:4}" />
                </rule>
                <rule name="get-version.php" stopProcessing="true">
                    <match url="^get-version.php" />
                    <action type="Rewrite" url="https://api.keyman.com/script/version/version.php" appendQueryString="true"  />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
